---
layout: default
---
<header class="hero hero--colored">
  <div class="wrapper hero-content--full-width">
    <h1 class="post-title">Development</h1>
  </div>
</header>
<div class="page-content">
  <div class="wrapper">
    <div class="home">

      <h1 class="page-heading">Posts</h1>

      <ul class="post-list">

        {% for category in site.categories %}

        {% if category.first == 'development' %}
        {% for posts in category %}
          {% for post in posts %}
            {% if post.title %}
            <li class="clearfix">
              <figure class="post-thumbnail" style="background-image: url('{{ post.thumbnail }}');"></figure>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
            </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
        {% endif %}
        
        {% endfor %}

      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

    </div>
  </div>
</div>