.home-split-heroes {
	position: relative;
	@include media-query($on-palm) {
		flex-wrap: wrap;
	}
	.hero {
		-webkit-flex: 1;-ms-flex: 1;flex: 1;
		height: 600px;
		height: 70vh;
		@include media-query($on-palm) {
			height: 300px;
			flex-basis: 100%;
			flex-shrink: 0;
		}
	}
	.plus-sign {
		position: absolute;
		width: 32px;
		height: 4px;
		background-color: $brand-light;
		top: 50%;
		left: 50%;
		transition: 0.2s all ease-out;
		-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);
		&::before {
			height: 32px;
			width: 4px;
			content: "";
			display: block;
			background-color: $brand-light;
			position: absolute;
			top: 50%;
			left: 50%;
			transition: 0.2s all ease-out;
			-webkit-transform: translateY(-50%) translateX(-50%);transform: translateY(-50%) translateX(-50%);
		}
	}
	// ~
	// .hero:hover ~ .plus-sign {
	// 	width: 50%;
	// 	height: 10vh;
	// 	border: 2px solid $brand-light;
	// 	background-color: transparent;
	// 	&::before {
	// 		height: 0;
	// 	}
	// }
	// .hero:nth-child(1):hover ~ .plus-sign {
	// 	left: 25%;
	// }
	// .hero:nth-child(2):hover ~ .plus-sign {
	// 	left: 75%;
	// }
}