---
layout: default
gallery_items:
- a.jpg
- rose.jpg
- flower.jpg
- shell.jpg
- fluid.jpg
- surf.jpg
---
<section class="hero hero--colored">
    <div class="hero-content">
      <h1 class="hero-content__title">Design</h1>
    </div>
</section>

<div class="page-content">
  <div class="wrapper">
    <div class="home">

      <div class="grid grid--3-up">
        {% for gallery_item in page.gallery_items %}
            <div class="grid__item gallery-slide-nav">
                <img src="{{ gallery_item | prepend: '/images/design/thumb_' | prepend: site.baseurl }}" />
            </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>


<div class="modal modal--gallery">
    <button class="modal-close">X</button>
    <div class="modal-inner">
        <div class="gallery-slider">
             <!-- {% for gallery_item in page.gallery_items %}
            <div class="grid__item">
                <img src="{{ gallery_item | replace: '300', 1000 }}" />
            </div>
        {% endfor %} -->
        {% for gallery_item in page.gallery_items %}
            <div class="gallery-slide-wrapper">
                <div class="gallery-slide">
                    <img src="{{ gallery_item | prepend: '/images/design/' | prepend: site.baseurl }}" />
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>