.hero {
	min-height: 400px;
	min-height: 40vh;
	display: -webkit-flex;display: -ms-flexbox;display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-content: space-around;
}
.hero--colored {
	background-color: $brand-color;
	color: $brand-light;
	background-image: linear-gradient($brand-color, $highlight-color);
}
.hero-content {

}
.hero-content__title {
	@extend .post-title; 
}