.hero {
	min-height: 400px;
	min-height: 40vh;
	display: -webkit-flex;display: -ms-flexbox;display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	justify-content: space-around;
}
.hero--colored {
	background-color: $brand-color;
	color: $brand-light;
	background-image: linear-gradient($brand-color, $highlight-color);
}
.hero-content {

}
.hero-content__title {
	@extend .post-title; 
}
.hero--design {
	background-image: url("../images/design/a.jpg"), linear-gradient($brand-color, $highlight-color);
	background-blend-mode: exclusion;
	transition: 10s all;
	background-size: 100%;
	&:hover {
		background-size: 130%;
	}
}
a.hero {
	color: $brand-light;
	text-decoration: none;
}