---
layout: default
---
<div class="schema-wrapper"  itemscope itemtype="http://schema.org/BlogPosting">
	<header class="hero hero--colored">
		<div class="wrapper hero-content--full-width">
			<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		</div>
	</header>
	<div class="page-content">
	    <div class="wrapper">

			<article class="post">

			  <header class="post-header">
			    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

			    {% for tag in page.tags %}
			    <span class="label" href="">#{{ tag }}</span>
			    {% endfor %}

			  </header>

			  <div class="post-content" itemprop="articleBody">
			    {{ content }}
			  </div>
			  {% if page.images %}
			  <div class="post-images grid grid--2-up">
			  	{% for image in page.images %}
				<div class="grid__item">
					<img src="{{ image | prepend: '/images/' | prepend: site.baseurl }}" />
				</div>
				{% endfor %}
			  </div>
			  {% endif %}

			</article>

		</div>
	</div>
</div>